.card {
    background-color: var(--blue);
    box-shadow: 0px 2px 4px 0px #2124290D;
    border-radius: 12px;
    height: 357px;
}

@media (max-width: 376px) {
    .card {
        height: 177px;
    }
}