body,
h1,
h2,
div,
ul,
ol,
li,
header,
nav,
main,
article,
footer,
section {
    margin: 0;
}

h1 {
    background-color: cornflowerblue;
    text-align: center;
}

nav {
    background-color: lightcoral;
    text-align: center;
}
nav a {
    text-decoration: underline;
    color: black;
}

main  {
    background-color: lightblue;
    padding: 24px 32px;
}

article {
    background-color: lavenderblush;
}

article:not(:last-child) {
    margin-bottom: 24px;
}

footer {
    background-color: lightpink;
    text-align: center;
}