.histogram {
    padding: 16px 24px 24px;
    border-radius: 8px;
    border: 1px solid var(--grey-3);
}

.histogram__header {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.histogram__title {
    color: var(--black);
    opacity: 0.8;
    font-family: 'Inter', sans-serif;
}

.histogram__link {
    color: var(--blue);
    font-family: 'Inter', sans-serif;
}

.histogram__header-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__count {
    font-size: 20px;
    line-height: 26px;
    font-family: 'Inter', sans-serif;
}

.histogram__columns {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
}

.histogram__column {
    background-color: var(--blue);
    min-width: 1px;
    flex-grow: 1;
    height: calc(var(--value)*100%);
}