.preview {
    background-color: #F9FAFC;
    min-height: 800px;
}

.preview__inner {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.preview__component {
    display: grid;
    gap: 56px;
    grid-template-columns: auto 1fr;
}

.preview__component-menu {
    width: 229px;
}

@media (max-width: 376px) {
    .preview {
        min-height: 600px;
    }
    .preview__inner {
        row-gap: 23px;
        column-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    }

    .preview__component-menu {
       display: none;
    }
}